

    {#          ---------------------------------------------             #}

                            {#      CONTENU      #}


        <div class="filtre-accueil">
            <form action="#">
                <div class="row">
                    <div class="input-field col s2">
                        <input type="text" class="timepicker" id="timepicker">
                        <label for="timepicker"><i class="material-icons">access_time</i>Horaires</label>
                    </div>
                    <div class="input-field col s2">
                        <select multiple>
                            <option value="" disabled selected></option>
                            <option value="2">2 euros</option>
                            <option value="3">3 euros</option>
                            <option value="4">4 euros</option>
                            <option value="5">5 euros</option>
                            <option value="6">6 euros</option>
                            <option value="7">7 euros</option>
                            <option value="8">8 euros</option>
                            <option value="9">9 euros</option>
                        </select>
                        <label><i class="material-icons">attach_money</i>Prix</label>
                    </div>
                </div>
                <p class="range-field">
                    <label for="distance">Distance</label>
                    <input type="range" id="distance" min="0" max="10" />
                </p>

            </form>

        </div>
